Source: f-spot-extension-exiflow
Priority: extra
Maintainer: Sebastian Berthold <exiflow@sleif.de>
Build-Depends: debhelper (>= 7), libgnome-vfs2.0-cil-dev, libgtk2.0-cil-dev, mono-addins-utils, libglade2.0-cil-dev, mono-gmcs, f-spot
Standards-Version: 3.8.4
Section: gnome
Homepage: http://exiflow.org/

Package: f-spot-extension-exiflow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, f-spot, ufraw, exiflow
Description: A set of extensions to support the exiflow workflow in f-spot
 F-Spot extensions:
 - ExiflowCreateVersion: Creates a new photo version, naming the file according
   to exiflow understanding of sane file names.
 - ExiflowDevelopInUFRaw: Like F-Spot's own DevelopInUfraw extension, but
   generating filenames with numbered versions.
 - ExiflowMerge: Automatically merge all versions of your photos, using the
   exiflow file naming scheme to associate them.
 - ExiflowRenameVersion: Lets you rename a version of a photo.
 - ExiflowRunWithExigui: Load selected photos into exigui for further
   processing.
 - ExiflowEditComment: Enter a comment into all selected photos, using an input
   box that's big enough for the job. Features a comment merger to make sure no
   existing comment is lost! insert long description, indented with spaces
 .
 Homepage: http://exiflow.org/

