Source: exiflow
Section: python
Priority: optional
Maintainer: Sebastian Berthold <exiflow@sleif.de>
Build-Depends: debhelper (>= 5), python-dev
Standards-Version: 3.7.2

Package: exiflow
Architecture: all
Depends: python (>= 2.4), libimage-exiftool-perl, python-glade2, python-gtk2
Suggests: f-spot, gthumb
Description: A set of tools to provide a complete digital photo workflow
 exiflow is a set of tools to provide a complete digital photo workflow for
 Unixes. EXIF headers are used as the central information repository, so
 users may change their software at any time without loosing their data.
 The tools may be used individually or combined.
 Special support is included for F-Spot and Gthumb.
 .
 Homepage: http://exiflow.org/
