#!/usr/bin/make -f
# ipython debian/rules file
#
# Based on sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir

	python2.4 setup.py config

	touch configure-stamp


build: configure

build-stamp:
	dh_testdir

	python2.4 setup.py build

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	python2.4 setup.py clean --all

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	python2.4 setup.py install -O2 --prefix $(CURDIR)/debian/exiflow/usr

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_link
#	dh_installchangelogs doc/ChangeLog -Npython2.2-ipython -Npython2.3-ipython -Npython2.4-ipython -Nipython
#	dh_installdocs -Npython2.2-ipython -Npython2.3-ipython -Npython2.4-ipython -Nipython
#	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman doc/ipython.1.gz doc/pycolor.1.gz
#	dh_compress -Xexamples
	dh_fixperms
	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
